body {
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
  text-align: center;
  background: rgb(252, 245, 245);
}
p {
  font-weight: 800;
}
h4 {
  font-size: 12px;
  color: red;
}
span {
  color: lightseagreen;
}
